body {
  margin: 0;
  box-sizing: border-box;
}

/* changed the NAVBAR STYLING */



input {
  border-radius: 5px;
  width: 140px;
  height: 25px;
}

span {
  color: orange;
  margin-top: 7px;
}

#menu {
  height: 75px;
  background: #8789a3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Nunito Sans";
}

.left-container {
  display: flex;
  flex-direction: row;
  margin: auto 50px auto 80px;
}

.right-container {
  flex-direction: row;
  display: flex;
  margin: auto 50px;
}

/* Score Chart styling */
table {
  margin: 0;
  width: 250px;
  text-align: center;
}

td.player,
td.currentPlayer {
  color: orange;
  margin: auto 5%;
  padding-right: 40px;
  font-weight: 700;
  font-size: 1rem;
}

.player,
td.bestResult,
td.bestResultPoints {
  color: rgba(246, 250, 0, 0.966);
  margin: auto 5%;
  padding-right: 40px;
  font-weight: 700;
  font-size: 1rem;
}



td.scored {
  color: rgb(12, 216, 22);
  margin: auto 5%;
  padding-right: 15px;
  font-weight: 700;
}

td.missed {
  color: darkred;
  margin: auto 5%;
  padding-right: 15px;
  font-weight: 700;
}

.pointsScored span {
  color: greenyellow;
  font-weight: 700;
}

.pointsMissed span {
  color: darkred;
  font-weight: 700;
}

/* Buttons styling*/

button,
input {
  margin: 0 10px;
}

.button {
  border-style: solid;
  border-width: 2px;
  border-radius: 50px;
  width: 140px;
  height: 40px;
  text-transform: uppercase;

}

.start.button {
  background-color: red;
  border: none;
  color: white;
}
/* Added buttons hover styling*/
.start.button:hover
{
  background-color:#f02e2e;
  cursor:pointer;
}

.login.button {
  background-color: green;
  border:none;
  color: white;
}

.login.button:hover
{
    background-color:#04b533;
    cursor:pointer;
}


/* CIRCLES/BALLS STYLING */
.circleStyle {
  text-decoration-style: none;
  border: 1px solid grey;
  border-radius: 50%;
  margin: 10px;
  float: left;
  cursor: crosshair;
}
/*Added a bigger border for the circles on hover */
.circleStyle:hover{
    border: 3px solid #8789a3;
  }

ul {
  margin-top: 0;
  width: 100%;
  height: 80vh;
  list-style: none;
}


/*on click event wanishing */
#disappear {
  opacity: 0;
}
